<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cliente.com.utsjr.cliente" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AgregarClienteActivity"
            android:label="@string/title_activity_agregar_nota" >
        </activity>
        <activity
            android:name=".DetallesCliente"
            android:label="@string/title_activity_agregar_nota" >
        </activity>
        <activity
            android:name=".ModificarClienteActivity"
            android:label="@string/title_activity_agregar_nota" >
        </activity>
    </application>

</manifest>
